
.vscode
.idea
coverage.out
.DS_Store
**/openapi.json
.env.local
recipe.db
bin
go.work.sum
/cmd/fuego/fuego
examples/crud-gorm/tmp
examples/crud-gorm/doc
!/examples/crud-gorm/**/*
/examples/gorm/*.db
*.db
