
.vscode
.idea
coverage.out
.DS_Store
**/openapi.json
.env.local
recipe.db
bin
go.work.sum
/cmd/fuego/fuego
# Ignore Go build binaries (typically named after the module)
/examples/gorm/*
!/examples/crud-gorm/**/*
/examples/gorm/**.db
