go 1.24.10

use (
	.
	./cmd/fuego
	./examples/acme-tls
	./examples/basic
	./examples/crud-gorm
	./examples/custom-errors
	./examples/custom-serializer
	./examples/echo-compat
	./examples/full-app-gourmet
	./examples/generate-opengraph-image
	./examples/gin-compat
	./examples/hello-world
	./examples/openapi
	./examples/petstore
	./examples/with-listener
	./extra/fuegoecho
	./extra/fuegogin
	./extra/markdown
	./extra/sql
	./extra/sqlite3
	./middleware/basicauth
	./middleware/cache
	./testing-from-outside
	examples/openapi-generate
)
