go 1.23.1

use (
	.
	./cmd/fuego
	./examples/acme-tls
	./examples/basic
	./examples/custom-serializer
	./examples/full-app-gourmet
	./examples/hello-world
	./examples/openapi
	./extra/markdown
	./integration-tests/cors
	./integration-tests/gourmet
)
