go 1.22.4

use (
	.
	./cmd/fuego
	./examples/acme-tls
	./examples/basic
	./examples/custom-serializer
	./examples/full-app-gourmet
	./examples/hello-world
	./examples/openapi
	./testing-from-outside
)
