<form
  method="POST"
  class="form"
  action="/admin/recipes-new"
  hx-boost="true"
  hx-select="#recipe-list"
  hx-target="#recipe-list"
>
  <label class="label" for="name">Name</label>
  <input class="input" type="text" id="name" name="name" required />
  <label class="label" for="description">Description</label>
  <input
    class="input"
    type="text"
    id="description"
    name="description"
    required
  />
  <label class="label" for="instructions">Instructions</label>
  <textarea
    class="input"
    type="text"
    id="instructions"
    name="instructions"
    rows="8"
    required
  >
  </textarea>

  <input class="btn" type="submit" value="Add" />
</form>
