{{ template "main.layout.html" . }}

{{ define "title" }}Gourmet - Healthy Recipes{{ end }}

{{ define "page" }}

  <section
    id="hero"
    class="flex flex-col justify-center items-center gap-4 md:gap-8
	  text-center text-white py-8 md:py-16 px-4 sm:px-6 md:px-8 lg:px-10
	  bg-cover bg-top bg-no-repeat bg-gray-800 bg-opacity-50
	  bg-blend-color-burn
	  w-full
	  "
    style="background-image: url('https://e1.pxfuel.com/desktop-wallpaper/421/613/desktop-wallpaper-pin-on-art-culinary.jpg')"
  >
    <h1 class="text-white text-4xl font-bold font-serif italic">Gourmet</h1>
    <p class="text-lg">Healthy recipes</p>
  </section>

  <section
    id="recipes-section"
    class="w-full flex flex-col gap-4 md:gap-8 p-2 md:p-4 border-b border-stone-200"
  >
    <h2>Today's recipes 📅</h2>
    <p>
      Eiusmod laboris fugiat incididunt quis culpa. Ut laborum ullamco anim
      fugiat. Voluptate Lorem dolor labore consequat fugiat fugiat sint officia
      et et aliqua. Incididunt enim culpa ut voluptate velit pariatur nulla sunt
      mollit. Est ut laborum voluptate amet labore in duis ad. Sunt consequat
      qui cillum proident amet adipisicing sit cupidatat eiusmod. Ad sint ex
      Lorem est deserunt. Eu enim nostrud ipsum eiusmod ullamco enim occaecat.
    </p>
  </section>

  <section
    id="recipes-section"
    class="w-full flex flex-col gap-4 md:gap-8 p-2 md:p-4 border-b border-stone-200"
  >
    <h2>Seasonal ingredients 🍂</h2>
    <p>
      Eiusmod laboris fugiat incididunt quis culpa. Ut laborum ullamco anim
      fugiat. Voluptate Lorem dolor labore consequat fugiat fugiat sint officia
      et et aliqua. Incididunt enim culpa ut voluptate velit pariatur nulla sunt
      mollit. Est ut laborum voluptate amet labore in duis ad. Sunt consequat
      qui cillum proident amet adipisicing sit cupidatat eiusmod. Ad sint ex
      Lorem est deserunt. Eu enim nostrud ipsum eiusmod ullamco enim occaecat.
    </p>
  </section>

  <section
    id="fast-recipes-section"
    class="w-full flex flex-col gap-4 md:gap-8 p-2 md:p-4 border-b border-stone-200"
  >
    <h2>Fast recipes ⚡️</h2>
    <p>
      Eiusmod laboris fugiat incididunt quis culpa. Ut laborum ullamco anim
      fugiat. Voluptate Lorem dolor labore consequat fugiat fugiat sint officia
      et et aliqua. Incididunt enim culpa ut voluptate velit pariatur nulla sunt
      mollit. Est ut laborum voluptate amet labore in duis ad. Sunt consequat
      qui cillum proident amet adipisicing sit cupidatat eiusmod. Ad sint ex
      Lorem est deserunt. Eu enim nostrud ipsum eiusmod ullamco enim occaecat.
    </p>
  </section>

  <section
    id="healthy-recipes-section"
    class="w-full flex flex-col gap-4 md:gap-8 p-2 md:p-4 border-b border-stone-200"
  >
    <h2>Healthy recipes 🥗</h2>
    <p>
      Eiusmod laboris fugiat incididunt quis culpa. Ut laborum ullamco anim
      fugiat. Voluptate Lorem dolor labore consequat fugiat fugiat sint officia
      et et aliqua. Incididunt enim culpa ut voluptate velit pariatur nulla sunt
      mollit. Est ut laborum voluptate amet labore in duis ad. Sunt consequat
      qui cillum proident amet adipisicing sit cupidatat eiusmod. Ad sint ex
      Lorem est deserunt. Eu enim nostrud ipsum eiusmod ullamco enim occaecat.
    </p>
  </section>
{{ end }}
