{{ template "admin.layout.html" . }}

{{ define "title" }}Admin - Ingredients{{ end }}

{{ define "page" }}

  <div class="m-4 md:m-8">
    <h1>Admin - Recipe</h1>

    <hgroup
      class="sticky top-0 flex justify-between items-center mb-4 bg-white w-full"
    >
      <h2 class="text-3xl font-bold mb-4">{{ .Recipe.Name }}</h2>
      <div class="flex justify-between gap-2 md:gap-4">
        <a class="btn btn-secondary" href="/recipes/one?id={{ .Recipe.ID }}">
          See
        </a>
        <button class="btn btn-primary" form="myform">Save</button>
      </div>
    </hgroup>

    <form
      id="myform"
      method="POST"
      action="/admin/recipes/edit?id={{ .Recipe.ID }}"
    >
      <label class="label">
        Name
        <input
          type="text"
          name="name"
          required
          placeholder="Name"
          class="input"
          value="{{ .Recipe.Name }}"
        />
      </label>

      <label class="label">
        Description
        <textarea class="input" name="description">
          {{ .Recipe.Description }}
        </textarea
        >
      </label>
    </form>

    <section>
      <h2 class="text-2xl font-bold mb-2">Instructions</h2>
      <ol class="list-decimal pl-4">
        {{ range .Instructions }}
          <li>{{ . }}</li>
        {{ end }}
      </ol>
    </section>

    <section id="ingredients-section">
      <h2 class="text-2xl font-bold mb-2">Ingredients</h2>

      <ul class="list-disc pl-4">
        {{ range .Ingredients }}
          <li>
            {{ .Quantity }}
            {{ .Ingredient.Name }}
          </li>
        {{ end }}
      </ul>

      <form
        method="POST"
        action="/admin/dosings-new"
        hx-boost="true"
        hx-target="#ingredients-section"
        hx-select="#ingredients-section"
      >
        <input type="hidden" name="RecipeID" value="{{ .Recipe.ID }}" />

        <div class="w-full flex gap-2 md:gap-4 items-baseline">
          <label class="label">
            Name
            <select name="IngredientID" class="input">
              <option value="" selected>-</option>
              {{ range .AllIngredients }}
                <option value="{{ .ID }}">{{ .Name }}</option>
              {{ end }}
            </select>
          </label>

          <label class="label">
            Quantity
            <input class="input" type="number" name="quantity" />
          </label>

          <label class="label">
            Optional
            <div>
              <input type="checkbox" name="" />
            </div>
          </label>
        </div>

        <button class="btn btn-primary">Add</button>
      </form>
    </section>
  </div>
{{ end }}
