<!doctype html>

<html lang="en">
  <head>
    {{ template "head.partial.html" . }}
  </head>

  <body class="m-0">
    <div class="flex">
      <!-- Admin navbar on the side -->
      <nav
        class="hidden md:block bg-gray-800 text-gray-400 w-64 px-4 py-8 space-y-6"
        hx-boost="true"
        hx-target="#page"
        hx-select="#page"
      >
        <h1 class="mb-4 text-center">
          <a
            class="text-2xl italic
              font-serif
              bg-gradient-to-r from-orange-300 to-orange-500
              inline-block text-transparent bg-clip-text font-bold"
            href="/"
            hx-boost="false"
          >
            Gourmet
          </a>
        </h1>
        <ul>
          <li
            class="text-white text-xl mb-4 hover:text-gray-200 hover:underline"
          >
            <a href="/admin/recipes">Recipes</a>
          </li>
          <li
            class="text-white text-xl mb-4 hover:text-gray-200 hover:underline"
          >
            <a href="/admin/ingredients">Ingredients</a>
          </li>
          <li
            class="text-white text-xl mb-4 hover:text-gray-200 hover:underline"
          >
            <a href="/admin/users">Users</a>
          </li>
        </ul>
      </nav>

      <main id="page" class="container mx-auto">
        {{ template "page" . }}
      </main>
    </div>

    {{ template "footer.partial.html" . }}
    {{ template "scripts.partial.html" . }}
  </body>
</html>
