<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- Scale to mobiles -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {{ block "head.partial.html" . }}
      <script src="https://unpkg.com/htmx.org@1.9.8"></script>
    {{ end }}
  </head>

  <body class="m-0">
    {{ template "navbar.partial.html" . }}


    <main id="page" class="container md:max-w-3xl md:mx-auto">
      {{ template "page" . }}
    </main>

    {{ template "footer.partial.html" . }}
  </body>
</html>
