<!doctype html>

<html lang="en">
  <head>
    {{ template "head.partial.html" . }}
  </head>

  <body class="m-0">
    <div
      id="errormessages"
      class="fixed z-50 bottom-0 bg-red-500 text-white text-center p-2 alert alert-danger w-screen justify-between items-center hidden"
      role="alert"
    >
      <h4 class="ml-4">An error occurred</h4>
      <button class="btn btn-red-bg" onclick="errormessage_off()">Close</button>
    </div>

    {{ template "navbar.partial.html" . }}


    <main id="page" class="container md:max-w-3xl md:mx-auto">
      {{ template "page" . }}
    </main>

    {{ template "footer.partial.html" . }}
    {{ template "scripts.partial.html" . }}
  </body>
</html>
