package components

import (
	"simple-crud/store/types"
)

templ CategorySelector(selectedCategory types.Category) {
	<select
 		id="category"
 		name="category"
 		class="input"
 		style="min-width: 5rem;"
	>
		for _, category := range types.CategoryValues {
			<option
 				value={ string(category) }
 				if category == selectedCategory {
					selected
				}
			>
				{ string(category) }
			</option>
		}
	</select>
}
