<!doctype html>

<html lang="en">
  <head>
    {{ template "head.partial.html" . }}
  </head>

  <body class="m-0">
    <div
      id="errormessages"
      class="alert alert-danger fixed bottom-0 z-50 hidden w-screen items-center justify-between bg-red-500 p-2 text-center text-white"
      role="alert"
    >
      <h4 class="ml-4">An error occurred</h4>
      <button class="btn btn-red-bg" onclick="errormessage_off()">Close</button>
    </div>

    {{ template "navbar.partial.html" . }}


    <main id="page" class="container md:mx-auto md:max-w-3xl">
      {{ template "page" . }}
    </main>

    {{ template "footer.partial.html" . }}
    {{ template "scripts.partial.html" . }}
  </body>
</html>
