package admin

import (
	"github.com/go-fuego/fuego/examples/full-app-gourmet/store"
)

templ IngredientPage(ingredient store.Ingredient) {
	@htmlPage("Ingredient - "+ingredient.Name, true) {
		<h1>Edit Ingredient</h1>
		@IngredientForm(IngredientFormProps{
			Ingredient: ingredient,
			FormAction:"/admin/ingredients/" + ingredient.ID,
			IsCreating: false,
		})
	}
}
