[Unit]
Description=Gourmet service

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/gourmet
ExecStart=/home/ubuntu/gourmet/gourmet-app -port 8074 -db /home/ubuntu/gourmet.db
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
