<footer class="">
  <section
    class="p-1 md:p-4
    flex justify-center items-center gap-4
    text-gray-600 text-sm
    bg-gray-200"
    hx-boost="true"
  >
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
    <a href="/terms">Terms</a>
    <a href="/privacy">Privacy</a>
    <a href="/cookies">Cookies</a>
    <a href="/admin">Admin</a>
  </section>

  <section
    class="p-1 md:p-4
    flex justify-center items-center gap-4
    text-white text-sm text-center
    bg-gray-800"
  >
    <span class="">
      Powered by
      <a
        href="https://github.com/go-fuego/fuego"
        class="
        italic
        bg-gradient-to-r from-orange-300 to-orange-500
        inline-block text-transparent bg-clip-text font-bold"
      >
        Fuego
      </a>
    </span>
    🔥
  </section>
</footer>
