<title>{{ block "title" . }}Mon app{{ end }}</title>

<meta charset="utf-8" />
<!-- Scale to mobiles -->
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- Open Graph -->
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Gourmet" />
<meta property="og:site_name" content="Gourmet" />
<meta property="og:url" content="https://gourmet.quimerch.com" />
<meta
  property="og:image"
  content="https://e1.pxfuel.com/desktop-wallpaper/421/613/desktop-wallpaper-pin-on-art-culinary.jpg"
/>
<meta property="og:image:width" content="850" />
<meta property="og:image:height" content="567" />
<meta property="og:description" content="Gourmet is a recipe planner" />

<!-- SEO -->
<meta name="description" content="Gourmet is a recipe planner" />
<meta name="keywords" content="recipes, food, cooking" />
<meta name="author" content="Gourmet" />

<!-- json-ld -->
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebSite",
    "name": "Gourmet",
    "url": "https://gourmet.quimerch.com",
    "potentialAction": {
      "@type": "SearchAction",
      "target": "https://gourmet.quimerch.com/search?q={search_term_string}",
      "query-input": "required name=search_term_string"
    }
  }
</script>

<!-- tailwindcss -->
<script src="https://cdn.tailwindcss.com/3.3.5"></script>
<style type="text/tailwindcss">
  @layer utilities {
    body {
      @apply font-light antialiased;
    }
    .input {
      @apply block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm;
    }

    .label {
      @apply block text-sm font-medium text-gray-700;
    }

    .btn {
      @apply inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500;
    }

    .btn-secondary {
      @apply text-indigo-600 hover:text-indigo-700 bg-white hover:bg-gray-100 border-indigo-600 hover:border-indigo-700;
    }

    .btn-red-bg {
      @apply bg-transparent border-white;
    }

    .btn-danger {
      @apply inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500;
    }

    h1 {
      @apply text-3xl font-bold text-gray-900 mt-4 mb-2;
    }

    h2 {
      @apply text-2xl font-bold text-gray-900 mt-4 mb-2;
    }

    h3 {
      @apply text-xl font-bold text-gray-900 mt-4 mb-2;
    }
  }
</style>
